config:
  dockerfile: .woloxci/Dockerfile
  project_name: typescript-base

services:
  - postgres

steps:
  copy_node_modules:
    - cp -r $NODE_PATH/ ./
  migrate_db:
    - npm run migrations
  lint:
    - npm run lint
  test:
    - npm run test

environment:
  GIT_COMMITTER_NAME: a
  GIT_COMMITTER_EMAIL: b
  LANG: C.UTF-8
